* {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 135px;
  gap: 80px;
  background: #1a1a1a;
}
.text-white {
  color: white;
}
.title-header {
  font-family: "Koulen";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;

  text-align: center;
}

.investment-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  /* width: 1170px;
  height: 644px; */
}

.investment-content-item-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  font-size: 16px;
}

.fl-revers {
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 600px) {
  .container {
    align-items: flex-start;
    padding: 80px 15px;
    gap: 40px;
  }

  .title-investment {
    text-align: left;
  }

  .investment-content {
    flex-direction: column;
  }
  .investment-content-item-image {
    width: 360px;
  }
}
/* collections---------- */
.collections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 135px;
  gap: 80px;
}

.item1 {
  height: 360px;
  width: 100%;
  background-image: url("../image/collections/collections-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.item2 {
  height: 360px;
  width: 100%;
  background-image: url("../image/collections/collections-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.item3 {
  height: 360px;
  width: 100%;
  background-image: url("../image/collections/collections-03.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.collections-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
.collections-content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
}
.collections-content-item-content {
  /* left: 20px; */
}
.collections-item-i {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px 24px;
  left: 0px;
  margin-top: 65%;
  gap: 8px;
}

.collections-content-item-title {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* position: absolute; */
  /* top: 60%; */
  left: 20px;
}

@media only screen and (max-width: 600px) {
  .collections-container {
    padding: 80px 15px;
    gap: 80px;
  }

  .collections-content {
    flex-direction: column;
    margin-top: 10px;
  }
}
